/* APRESENTAÇÃO DAS SOLUÇÕES */
.apresentacao{
    background-color: #f5faf7;
    padding: 60px 10% 70px;
}

/* LOGO DO BODY */
.marca-apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-bottom: 65px;
}

.marca-apresentacao img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.nome-apresentacao{
    font-size: 32px;
    font-weight: 700;
    color: #01473b;
}

.nome-apresentacao span {
    color: #1F7A4D;
}

/* TEXTOS DA APRESENTAÇÃO */
.conteudo-apresentacao {
    max-width: 1100px;
    margin: 0 auto;
}

.conteudo-apresentacao h1{
    font-size: 30px;
    font-weight: 700;
    color: #01472b;

    margin-bottom: 25px;
}

.subtitulo {
    font-size: 17px;
    font-weight: 500;
    color: #333;

    margin-bottom: 5px;
}

.descricao {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 1.6;

    max-width: 1000px;
}

/* TEXTO DOS TÓPICOS DE BENEFÍCIOS */
.solucao {
    background-color: white;
    padding: 30px 10%;
}

.conteudo-solucao {
    max-width: 1100px;
    margin: 0 auto;
}

/* CONTEÚDO DA SOLUÇÃO */
.conteudo-solucao h2 {
    font-size: 28px;
    font-weight: 700;
    color: #01472B;
}

.conteudo-solucao p{
    font-size: 15px;
    font-weight: 400;
    color: #333;
    line-height: 1.5;

    max-width: 750px;
    margin-bottom: 25px;
}

/* TÍTULO DOS BENEFÍCIOS */
.conteudo-solucao h3 {
    font-size: 15px;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

/* LISTA DE BENEFÍCIOS */
.conteudo-solucao ul{
    padding-left: 25px;
    margin-top: 0;
}

.conteudo-solucao li {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
}

/* COMO FUNCIONA */
.como-funciona {
    background-color: #f5faf7;
    padding: 60px 5% 100px;
}

.conteudo-como-funciona {
    max-width: 1200px;
    margin: 0 auto;
}

/* CABEÇALHO DO FLUXO */
.cabecalho-fluxo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.etiqueta {
    display: inline-block;
    background-color: #e2f3e9;
    color: #01472b;
    font-size: 10px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.cabecalho-fluxo h2 {
    font-size: 26px;
    font-weight: 700;
    color: #263a31;
}

.cabecalho-fluxo p {
    max-width: 350px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
}

/* ORGANIZAÇÃO DOS CARDS */
.etapas {
    display: flex;
    gap: 20px;
}

.etapa {
    flex: 1;
    min-width: 0;
    min-height: 205px;
    padding: 18px 14px;

    background-color: white;
    border: 1px solid #e5eae7;
    border-radius: 10px;
}

/* TOPO DOS CARDS */
.topo-etapa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 15px;
}

/* ÍCONE DOS CARDS */
.icone-etapa {
    width: 32px;
    height: 32px;

    padding: 7px;
    background-color: #e2f3e9;
    border-radius: 7px;

    object-fit: contain;
    flex-shrink: 0;
}


.numero-etapa {
    font-size: 10px;
    font-weight: 600;
    color: #1f7a4d;
    white-space: nowrap;
}

/* TEXTOS DOS CARDS */
.etapa h3 {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.etapa p {
    font-size: 11px;
    color: #777;
    line-height: 1.5;
}

/* IMPORTÂNCIA PARA A GESTÃO */
.importancia {
    background-color: #f5faf7;
    padding: 40px 10% 90px;
}

.conteudo-importancia {
    max-width: 1100px;
    margin: 0 auto;
}

.conteudo-importancia h2 {
    font-size: 28px;
    font-weight: 700;
    color: #01472b;
    margin-bottom: 45px;
}

.conteudo-importancia p{
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    max-width: 1000px;
}

/* BOTÃO FALAR COM ESPECIALISTA */
.area-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.btn-contato {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 400px;
    max-width: 100%;
    min-height: 70px;

    background-color: #103d2c;
    color: white;
    text-decoration: none;

    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;

    transition: background-color 0.3s;
}

.btn-contato:hover {
    background-color: #1f7a4d;
}

/* RESPONSIVIDADE */
@media (max-width: 900px){
    .etapas {
        flex-wrap: wrap;
    }

    .etapa {
        align-items: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .etapas {
        flex-direction: column;
    }

    .etapa {
        min-height: 150px;
    }

    .conteudo-importancia h2 {
        font-size: 23px;
    }

    .btn-contato {
        width: 100%;
    }
}